include ./mixins.jade
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    main
      .app-container
        nav
          .nav-container
            img(src='/images/contentful.svg' width="157" height="32")
            ul
              li
                a(href="/" data-nav) Home
              li
                a(href="/categories" data-nav) Categories
        #content.content-container
          block content
